# Dependências do Node.js
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Build outputs
dist/
build/

# Diretórios e arquivos temporários
*.log
*.tmp
*.swp
*.DS_Store
.tmp/
.cache/

# Arquivos de ambiente
.env
.env.local
.env.*.local

# Vite
.vite/
